.container{
  text-align: center;
  margin: auto;
  width: 100%;
  font-family: 'IM Fell English';
}
body{
  background-color: #21B6A8;
  color:white;
}
.text{
  padding-top: 15%;
  font-size: 300%;
}
p{
  width: 100%;
}
.text span{
  font-weight: bold;
}
.response{
  color:green;
}
.error{
  color:red;
}
.tips{
  font-size: 30%;
  color: #008dd7;
}
.launch{
  background-color: #008dd7;
  width: 30%;
  margin: auto;
  border:2px solid white;
  border-radius: 5%;
  margin-bottom: 15%;
  cursor: pointer;
}