.container{
  text-align: center;
  margin: auto;
  width: 100%;
  font-family: 'IM Fell English';
}
body{
  background-color: #21B6A8;
  color:white;
}
.text{
  padding-top: 15%;
  font-size: 600%;
}
p{
}
.text span{
  font-weight: bold;
}
.response{
  color:green;
}
.error{
  color:red;
}